@font-face {
    font-family: 'Unown';
    src: url('https://davidrejzek.cz/unown.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Unown', sans-serif;
}